html {
    font-family: 'Poppins', sans-serif;
}

#boxWykresPopulacja{
    display: none;
}

#wykresDla{
    font-weight: bold;
}

#wykresCanvasPopulacji{
    max-height: 300px;
}

#cryptoBoxSearch{
    display: none;
}