html {
    font-family: 'Poppins', sans-serif;
}

#boxWykresPopulacja{
    display: none;
}

#wykresDla{
    font-weight: bold;
}

#wykresCanvasPopulacji{
    max-height: 300px;
}

#cryptoBoxSearch{
    display: none;
}

#line-chart-krypto{
    max-height: 300px;
}

.crypto-img{
    max-height: 20px;
}

table{
    border-radius: 10px;
}

#cryptoRanking{
    margin-bottom: 25px;
}

.checkChartIcon{
    opacity: .5;
    transition: .2s;
    cursor: pointer
}

.checkChartIcon:hover{
    opacity: 1;
    transition: .2s;
}